<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Todo List</ion-title>
	</ion-navbar>
</ion-header>


<ion-content>

	<!-- 	<ul>
		<li *ngFor="let todo of todos">
			<input type="checkbox" name="todoCheck" [(ngModel)]="todo.completed" (change)="handleTodoChange($event, todo)" />{{todo.text}}
		</li>
	</ul> -->
	
	<ion-list>
		<ion-list-header>
			My Todos
			<button ion-button icon-only clear color="primary" item-right (click)="openCreateModal()"><ion-icon name="add"></ion-icon></button>
		</ion-list-header>
		<ion-item-sliding *ngFor="let todo of todos">
			<ion-item >
				<ion-label>{{todo.text}}</ion-label>
				<ion-checkbox color="" [(ngModel)]="todo.completed" (ionChange)="handleTodoChange($event, todo)"></ion-checkbox>
			</ion-item>
			<ion-item-options side="left">
				<button ion-button color="danger" (click)="deleteTodo($event, todo)"><ion-icon name="trash"></ion-icon></button>
			</ion-item-options>
			
			<ion-item-options side="right">
				<button ion-button color="secondary" (click)="openEditModal($event, todo)">Edit</button>
			</ion-item-options>
			
		</ion-item-sliding>
	</ion-list>
	
</ion-content>
