<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Todo List</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

	<h3>My Todos</h3>
<!-- 	<ul>
		<li *ngFor="let todo of todos">
			<input type="checkbox" name="todoCheck" [(ngModel)]="todo.completed" (change)="handleTodoChange($event, todo)" />{{todo.text}}
		</li>
	</ul> -->
	
	<ion-list>
		<ion-item *ngFor="let todo of todos">
			<ion-label>{{todo.text}}</ion-label>
			<ion-checkbox color="" [(ngModel)]="todo.completed" (ionChange)="handleTodoChange($event, todo)"></ion-checkbox>
		</ion-item>
	</ion-list>
	
</ion-content>
